<div>
    <div class="texto">
        <p>En esta página encontrarás información sobre personajes, locaclizaciones y episodios de la serie de [as] Rick and Morty</p><br>
        <p>En la barra principal encontrarás tres botones que te redireccionarán a cada uno de los apartados de la página.</p>
        <p>Al pulsar sobre un objeto, ya sea personaje, localización o episodio, te redireccionará a una ágina con información sobre este.</p>
        <p>Para regresar a esta página pulsar sobre el título de la página.</p><br>
        <p>Esta página recoge información de la página <a href="https://rickandmortyapi.com" target="_blank"><b>rickandmortyapi.com</b></a></p>
    </div>
</div>