<div class="article">
    <article *ngFor="let character of characters">
        <div class="card">
            <div class="image-container">
                <img src="{{character.image}}" alt="Personaje">
            </div>
            <div class="caracteristicas">
                <h2>{{character.name}}</h2>
                <span>Estado:    {{character.status}}</span><br>
                <span>Especie:   {{character.species}}</span><br>
                <span>Género:    {{character.gender}}</span>
            </div>
        </div>

    </article>
</div>